body{
    background-color: rgb(50,50,50);
    color:white;
}

a{
    color:rgb(25,250,44);
}


.date-class {
    border-radius: 5px;
    background-color: rgb(151, 172, 165);
    width: 180px;
}